//- index.jade
extends ./base.jade

block navlist
  li.active
    a(href='/') Home
  if user
    li
      a(href='/create') New Image
    li
      a(href='/my') My Images

block header
  link(rel='stylesheet', href='/css/main.css')

block container
    .grid(data-masonry='{ "itemSelector": ".card", "columnWidth": 190 }')
      each image in images
        .card
          img(src=image.url)
          p= image.title
    
block footer
  script(src='https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.js')
  script(src='/js/index.js')