//- index.jade
extends ./base.jade

block header
  link(rel='stylesheet', href='/css/main.css')

block container
  #todo
    
block footer
  script(src='https://fb.me/react-15.1.0.js')
  script(src='https://fb.me/react-dom-15.1.0.min.js')
  script(src='/js/index.js')