//- index.jade
extends ./base.jade

block container
  .jumbotron
    h1 Vote for your choice
    p
      | You can signup to create a vote and share it to your friends.
    p
  .row
    each obj in votes
      .col-md-4.vote
        div
          a(href="/vote/"+obj.id)
            h3= obj.name