//- index.jade
extends ./base.jade

block container
  .row
    each obj in votes
      .col-md-4.vote
        div
          a(href="/vote/"+obj.id)
            h3= obj.name
            a.btn.btn-danger(href='/delvote/'+obj.id, role='button') 删除