//- index.jade
extends ./base.jade

block navlist
  li
    a(href='/') Home
  if user
    li
      a(href='/create') New Image
    li.active
      a(href='/my') My Images
      
block header
  link(rel='stylesheet', href='/css/main.css')

block container
    .grid(data-masonry='{ "itemSelector": ".card", "columnWidth": 200 }')
      each image in images
        .card(id="image"+image.id)
          img(src=image.url)
          p= image.title
          a.deletelabel(data-id=image.id)
            i.remove.glyphicon.glyphicon-remove-sign.glyphicon-white
    
block footer
  script(src='https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.js')
  script(src='/js/my.js')